@model Activos_PrestamosOET.Models.PRESTAMO

@{
    ViewBag.Title = "Delete";
}
<div>
    @Html.ActionLink("Regresar al Historial", "Historial", null, null, new { @class = "btn btn-default" })
</div>
<h2>Cancelar Solicitud</h2>
<!--
<h3>¿Esta seguro de que desea cancelar esta solicitud?</h3>
-->
<hr />

<div class="container">
    <div class="row">


        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.NUMERO_BOLETA):</label>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.NUMERO_BOLETA)
        </div>
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.FECHA_SOLICITUD):</label>
        </div>
        <div class="col-md-4">
            <!--Html.DisplayFor(model => model.FECHA_SOLICITUD)-->
            @Html.DisplayFor(model => model.FECHA_SOLICITUD)
        </div>

        <br />
        <br />
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">Solicitante:</label>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.ActivosUser.Nombre) @Html.DisplayFor(model => model.ActivosUser.Apellidos)
            <!--ViewBag.Nombre-->
        </div>
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.FECHA_RETIRO):</label>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.FECHA_RETIRO)
        </div>
        <br />
        <br />
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.MOTIVO):</label>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.MOTIVO)
        </div>
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.PERIODO_USO):</label>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.PERIODO_USO)
        </div>
        <br />
        <br />
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.SIGLA_CURSO):</label>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.SIGLA_CURSO)
        </div>
        <div class="col-md-2">
            <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.Estado):</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Estadillo
        </div>
        <br />
        <br />
    </div>
</div>
<br />
<br />
<table class="table" style="margin-top:20px">
    <thead>
        <tr>
            <th>
                Equipo
            </th>

            <th>
                Cantidad Solicitada
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Equipo_Solict != null)
        {

            foreach (List<String> s in ViewBag.Equipo_Solict)
            {
                <tr>
                    <td>@s[0] &nbsp;</td>
                    <td>
                        @s[1] &nbsp;
                    </td>

                </tr>
            }
        }

    </tbody>
</table>
<br />
<br />
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">@Html.DisplayNameFor(model => model.SOFTWARE_REQUERIDO):</label>
    <div class="col-lg-10">
        @Html.DisplayFor(model => model.SOFTWARE_REQUERIDO)
    </div>
</div>
<br />
<br />
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">@Html.DisplayNameFor(model => model.OBSERVACIONES_SOLICITANTE):</label>
    <div class="col-lg-10">
        @Html.DisplayFor(model => model.OBSERVACIONES_SOLICITANTE)
    </div>
</div>
<br />
<br />
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">@Html.DisplayNameFor(model => model.OBSERVACIONES_APROBADO):</label>
    <div class="col-lg-10">
        @Html.DisplayFor(model => model.OBSERVACIONES_APROBADO)
    </div>
</div>
<br />
<br />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!--                    <div id="Botones_aceptar_cancelar" class="col-md-offset-9 col-md-12">

                        <input type="submit" name="b" value="Aceptar" class="btn btn-success" />

                        <input type="submit" name="b" value="Denegar" class="btn btn-danger" />

                    </div>-->
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ¿Esta seguro de que desea cancelar esta solicitud?
    </div>
    <br />
        <br />
    <div class="form-group">

        <div class="col-md-offset-9 col-md-12">
            <input type="submit" value="Si" class="btn btn-success" />
            <!--<input type="submit" value="No" class="btn btn-danger" />-->
            @Html.ActionLink("No", "Detalles", new { id = Model.ID }, new { @class = "btn btn-danger" })
        </div>
    </div>

            
  <!--  <div class="form-group">
        <dl class="dl-horizontal">
            <div>
                <p>
                    @*@Html.ActionLink("Volver al Historial", "Historial")*@
                </p>
            </div>
    </div>-->
}


