@model Activos_PrestamosOET.Models.PRESTAMO

@{
    ViewBag.Title = "Detalles";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=A4]").addClass("active");
    });
</script>

<script>
    var expanded = false;
    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    $('cancelarModal').click(function (e) {
        e.preventDefault();
        $('#myModal'+e)
             .removeData()
             .html('loading....')
             .load($(this).attr('href'))
             .modal({ show: true, backdrop: 'static' });
    });
</script>


<script>
    @for(int i=0; i< ViewBag.Equipo_Solict.Count; i++)
    {
    <text>
    $('#myModal</text>@i<text>').on('shown.bs.modal', function () { $('#myInput').focus() });
    </text>
    }
</script>
<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<div>
    <p>
        @Html.ActionLink("Regresar a Solicitudes", "Index", null, new { @class = "btn btn-default" })

    </p>
</div>


@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Mensaje
    </div>


}



@if (ViewBag.Mensaje2 != null)
{

    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Mensaje2
    </div>
}




<legend><h2>Detalles de la Solicitud</h2></legend>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="container">
            <div class="row">
                

                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.NUMERO_BOLETA):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.NUMERO_BOLETA)
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.FECHA_SOLICITUD):</label>
                </div>
                <div class="col-md-4">
                    <text>@Model.FECHA_SOLICITUD.ToShortDateString()</text>                    
                </div>

                <br />
                <br />
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">Solicitante:</label>
                </div>
                <div class="col-md-4">                   
                    @Html.DisplayFor(model => model.ActivosUser.Nombre) @Html.DisplayFor(model => model.ActivosUser.Apellidos)
                </div>
                <div class="col-md-2">                    
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.FECHA_RETIRO):</label>
                </div>
                <div class="col-md-4">
                    <text>@Model.FECHA_RETIRO.ToShortDateString()</text>
                </div>
                <br />
                <br />
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.MOTIVO):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.MOTIVO)
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.PERIODO_USO):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PERIODO_USO)
                </div>
                <br />
                <br />
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.Estado):</label>
                </div>
                <div class="col-md-4">
                    @{bool asignarEquipos = false;}

                    @switch (Model.Estado)
                    {
                        case 1:
                            <text>Pendiente</text>
                            break;
                        case 2:
                            <text>Aprobada</text>
                            asignarEquipos = true;
                            break;
                        case 3:
                            <text>Denegada</text>
                            
                            break;
                        case 4:
                            <text>Abierta</text>
                            asignarEquipos = true;
                            break;
                        case 5:
                            <text>Cerrada</text>
                            break;
                        case 6:
                            <text>Cancelada</text>
                            break;
                    }
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.SIGLA_CURSO):</label>
                </div>
                <div class="col-md-4">
                    @if (Model.V_COURSESCOURSES != 0)
                    {
                       <text>@Model.V_COURSES.COURSE_NAME</text>
                    }
                    else
                    {
                       <text>No hay curso asociado</text>
                    }
                </div>
                <br />
                <br />

                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.SOFTWARE_REQUERIDO):</label>
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.SOFTWARE_REQUERIDO)
                </div>
                

                <br /><br />

                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.OBSERVACIONES_SOLICITANTE):</label>

                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.OBSERVACIONES_SOLICITANTE)
                </div>                               
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Details", "PRESTAMOes", FormMethod.Post))
{

    @Html.HiddenFor(model => model.ID);
    <table class="table" style="margin-top:20px">
        <thead>
            <tr>
                <th>
                    Equipo
                </th>

                <th>
                    Cantidad Solicitada
                </th>

                <th class="col-md-3">
                    Cantidad Aprobada
                </th>

                <th class="col-md-3">
                    Asignar
                </th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Equipo_Solict != null)
                            {
                                int modal = 0;
                                foreach (List<String> s in ViewBag.Equipo_Solict)
                                {
                    <tr>
                        <td>@s[0] &nbsp;</td>
                        @if (s[3] == "d")
                                        {
                            <td style="color:green">@s[1] &nbsp;</td>
                        }
                        else
                        {
                            <td style="color: orangered">@s[1] &nbsp;</td>
                        }

                                    @if (ViewBag.Mensaje2 != null)
                                        {
                            <td>
                                @Html.TextBox("cantidad_aprobada", @s[2], null, new { @class = "form-control col-md-2", @type = "number", @min = "0", @readonly = "readonly" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.TextBox("cantidad_aprobada", @s[2], null, new { @class = "form-control col-md-2", @type = "number", @min = "0" })
                            </td>
                        }
                        <td>
                        @if ((asignarEquipos == true)&&(!ViewBag.mismo))
                        {
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal@(modal)">
                                
                                Seleccionar
                            </button>
                        }
                            else
                            {
                                                            <!-- Button trigger modal -->
                                <button type="button" class="btn btn-default" disabled="disabled" readonly="readonly" data-toggle="modal" data-target="#myModal@(modal)">

                                    Seleccionar
                                </button>
                    }
                            <!-- Modal -->
                            <div class="modal" id="myModal@(modal)">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Seleccion de Equipo</h4>
                                        </div>
                                        <div class="modal-body">
                                            @{bool vacio = false;}
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Fabricante</th>
                                                        <th>Modelo</th>
                                                        <th>Placa</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                                                    @if (ViewBag.Activos_enPrevio != null)
                    {
                        List<List<String>> a = ViewBag.Activos_enPrevio[modal];

                        foreach (List<String> b in a)
                        {
                                                            <tr>



                                                                    <td><input type="checkbox", readonly="readonly", disabled="disabled", checked="checked"></td>
                                                               @*     <td>@Html.CheckBox("activoSeleccionado", true, new { @readonly = "readonly", @value = @b[2] })</td>
                                                                    @* <td><input type="checkbox" name="activoSeleccionado" value="Seleccionado" disabled="disabled" readonly="readonly"></td>*@
                                                                
                                                                <td>@b[0] &nbsp;</td>
                                                                <td>@b[1] &nbsp;</td>
                                                                <td>@b[2] &nbsp;</td>
                                                            </tr>
                                                        }

                                                    }
                                                    
                                                       @if (ViewBag.Activos_enCat != null)
                                                       {
                                                           
                                                           List<List<String>> w = ViewBag.Activos_enCat[modal];

                                                           foreach (List<String> z in w)
                                                           {
                                                    <tr>
                                                        @if (z[0] == "")
                                                        {
                                                            vacio = true;
                                                            <td>@Html.CheckBox("activoSeleccionado", false, new { @readonly = "readonly", @value = @z[2] })</td>
                                                           @* <td><input type="checkbox" name="activoSeleccionado" value="Seleccionado" disabled="disabled" readonly="readonly"></td>*@
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.CheckBox("activoSeleccionado", false, new { @value = @z[2]})</td>
                                                            @* <td><input type="checkbox" name="activoSeleccionado" value="Seleccionado"></td>*@

                                                        }
                                                        <td>@z[0] &nbsp;</td>
                                                        <td>@z[1] &nbsp;</td>
                                                        <td>@z[2] &nbsp;</td>
                                                    </tr>
                                                      }                                                  
                                              }                                                                                                                                                           
                </tbody>
            </table>
                                            @if (ViewBag.NoActivos != null && vacio==true)
                                            {
                                                <div class="alert alert-dismissible alert-warning">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    @ViewBag.NoActivos
                                                </div>
                                            }
                                </div>
                    <div class="modal-footer">
                    @if (ViewBag.NoActivos != null && vacio == true)
                    {
                        @**<button type="button" name="a"  class="btn btn-primary" disabled="disabled" readonly="readonly">Asignar</button>*@
                        <button type="button" name="a" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    }
                    else
                    {
                        <button type="button" name="a" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    }                        
                        
                    </div>
                            </div>
                        </div>
                    </div>
                            @{modal++;}
            </tr>


                }



            }
            </tbody>
            </table>

            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.OBSERVACIONES_APROBADO):</label>
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.OBSERVACIONES_APROBADO, new { htmlAttributes = new { @class = "form-control", @style = "width:95%; height:70px" } })
                        </div>
                    </div>
                </div>
            </div>


            <input type="submit" name="b" value="Descargar Boleta" class="btn btn-default" />


                <div id="Botones_aceptar_cancelar" class="col-md-offset-9 col-md-12">

                @if (((Model.Estado) == 1 || (Model.Estado) == 2 || (Model.Estado) == 4)&& (!ViewBag.mismo))
                {
                    <input type="submit" name="b" value="Aceptar" class="btn btn-success" />

                    <input type="submit" name="b" value="Denegar" class="btn btn-danger" disabled="disabled" readonly="readonly"/>
                }
                @if (((Model.Estado) == 3)&& (!ViewBag.mismo))
                {

                    <input type="submit" name="b" value="Aceptar" class="btn btn-success" disabled="disabled" readonly="readonly"/>

                    <input type="submit" name="b" value="Denegar" class="btn btn-danger" />}

                @if (((Model.Estado) == 5 || (Model.Estado) == 6)|| (ViewBag.mismo))
                {

                    <input type="submit" name="b" value="Aceptar" class="btn btn-success" disabled="disabled" readonly="readonly" />

                    <input type="submit" name="b" value="Denegar" class="btn btn-danger" disabled="disabled" readonly="readonly" />
                 }

                </div>

}



