@model Activos_PrestamosOET.Models.ACTIVO

@{
    ViewBag.Title = "Asignar";
}
<div class="row">
    <div class="col-xs-12">
        <br />
        @Html.ActionLink("Regresar", "Index")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Modificar el estado del activo.</h2>
        <hr />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.PLACA, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @Html.EditorFor(model => model.PLACA, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @rows = "3" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @rows = "3" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.INICIO_SERVICIO, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        @Html.EditorFor(model => model.INICIO_SERVICIO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INICIO_SERVICIO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ESTADO_ACTIVOID, "Estado", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        @Html.DropDownList("ESTADO_ACTIVOID", null, "-- Seleccione el estado del activo --", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ESTADO_ACTIVOID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="info-asignacion" style="display:none;">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-4">
                            @Html.LabelFor(model => model.V_ESTACIONID, "Estación", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            @Html.DropDownList("V_ESTACIONID", null,"-- Seleccione una estación --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.V_ESTACIONID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-4">
                            @Html.LabelFor(model => model.V_EMPLEADOSIDEMPLEADO, "Responsable", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            @Html.DropDownList("V_EMPLEADOSIDEMPLEADO", null,"-- Seleccione un responsable --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.V_EMPLEADOSIDEMPLEADO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-4">
                            @Html.LabelFor(model => model.CENTRO_DE_COSTOId, "Centro de costo", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            @Html.DropDownList("CENTRO_DE_COSTOId", null, "-- Seleccione un centro de costo --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CENTRO_DE_COSTOId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-3">
                        @Html.LabelFor(model => model.COMENTARIO, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.COMENTARIO, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                        @Html.ValidationMessageFor(model => model.COMENTARIO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="pull-right">
                <input id='boton_prueba'type="submit" value="Guardar" class="btn btn-default" />

                <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
                <script type="text/javascript">
                $(document).ready(function() {
                    toastr.options.timeOut = 10000; // 10s                    
                    $('#boton_prueba').click(function () {      
                        toastr.success('Se enviará un correo electrónico al usuario correspondiente si se le asigna un activo.', 'INFORMACIÓN');                       
                    });
                });
                </script>


            </span>
        </div>
    </div>
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $("#activos").addClass("active");

        $(function () {
            $('#info-asignacion').css('display', ($('#ESTADO_ACTIVOID option:selected').text() == 'Asignado') ? 'block' : 'none');
            $('#ESTADO_ACTIVOID').on('change', function () {
                $('#info-asignacion').css('display', ($('#ESTADO_ACTIVOID option:selected').text() == 'Asignado') ? 'block' : 'none');
            });
            $('#V_ESTACIONID').on('change', function () {
                var estacion_id = $('#V_ESTACIONID').val();
                var lista_empleados = $('#V_EMPLEADOSIDEMPLEADO');
                lista_empleados.empty();
                lista_empleados.append("<option value=''>-- Seleccione un responsable --</option>");
                $.ajax({
                    url: "@Url.Content("~/Activos/RefrescarUsuarios")",
                    data: {id_estacion: estacion_id },
                    dataType: "json",
                    success: function (data) {
                        lista_empleados.empty();
                        lista_empleados.append("<option value=''>-- Seleccione un responsable --</option>");
                        $.each(data, function (index, option_data) {
                            lista_empleados.append("<option value='" + option_data.IDEMPLEADO + "'>" + option_data.NOMBRE + "</option>");
                        });
                    }
                });
            });
        });
    </script>
}