@model Activos_PrestamosOET.Models.ACTIVO

@{
    ViewBag.Title = "Detalles";
}

<div class="row">
    <br />
    <div class="col-xs-12">
        @if ((User.IsInRole("superadmin") || User.IsInRole("Editar activos")) && Model.DESECHADO == false)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
        }
        @if ((User.IsInRole("superadmin") || User.IsInRole("Eliminar activos")) && Model.DESECHADO == false)
        {
            @Html.ActionLink("| Eliminar", "Delete", new { id = Model.ID })
        }
        | @Html.ActionLink("Regresar", "Index")
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Detalles del activo</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-12">
                <h4>General</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.DESCRIPCION)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.TIPOS_ACTIVOS.NOMBRE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.TIPOS_ACTIVOS.NOMBRE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.PLACA, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.PLACA)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.NUMERO_SERIE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.NUMERO_SERIE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.MODELO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.MODELO)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.FABRICANTE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.FABRICANTE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.NUMERO_LOTE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.NUMERO_LOTE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.NUMERO_DOCUMENTO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.NUMERO_DOCUMENTO)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.PRECIO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="row">
                    <div class="col-xs-6">
                        @Html.DisplayFor(model => model.PRECIO)
                    </div>
                    <div class="col-xs-6">
                        @if (Model.EXENTO)
                        {<p>Gravado</p>}
                        else
                        {<p>Exento</p> }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.TIPO_CAPITAL, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-5">
                @if (Model.TIPO_CAPITAL)
            {<p>Capital mayor</p>}
            else
            {<p>Capital menor</p> }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.V_PROVEEDOR.NOMBRE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.V_PROVEEDOR.NOMBRE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.FECHA_COMPRA, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.FECHA_COMPRA)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.INICIO_SERVICIO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.INICIO_SERVICIO)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.PRESTABLE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @if (Model.PRESTABLE)
                {
                    <p>Sí</p>
                }
                else
                {
                    <p>No</p>
                }
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5">
        <div class="row">
            <div class="col-xs-12">
                <h4>Asignación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.ESTADOS_ACTIVOS.NOMBRE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.ESTADOS_ACTIVOS.NOMBRE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.V_ESTACION.NOMBRE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.V_ESTACION.NOMBRE)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.CENTROS_DE_COSTOS.Nombre, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.CENTROS_DE_COSTOS.Nombre)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.V_EMPLEADOS.NOMBRE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.V_EMPLEADOS.NOMBRE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.DESECHADO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @if (Model.DESECHADO)
                {
                    <p class="text-danger">Si</p>
                }
                else
                {
                    <p class="text-success">No</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.COMENTARIO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.COMENTARIO)
            </div>
        </div>
        <div class="row hidden-xs">
            <br />
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Información de ingreso original</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.TIPOS_TRANSACCIONES.NOMBRE, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.TIPOS_TRANSACCIONES.NOMBRE)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.INGRESADO_POR, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.INGRESADO_POR)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @Html.LabelFor(model => model.FECHA_INGRESO, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-7">
                @Html.DisplayFor(model => model.FECHA_INGRESO)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>
            Historial del activo
            <span class="pull-right">
                @Html.ActionLink("Todo el historial", "Details", new { id = Model.ID, reparaciones = false }, new { @class="btn btn-sm btn-primary", @title = "Consultar todo el historial del activo" })
                @Html.ActionLink("Historial de reparaciones", "Details", new { id = Model.ID, reparaciones = true }, new { @class = "btn btn-default btn-sm", @title = "Consultar el historial de reparaciones del activo" })
            </span>
        </h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Fecha (aaaa-MM-dd)
                        </th>
                        <th>
                            Responsable de la transacción
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Descripción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TRANSACCIONES)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FECHA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RESPONSABLE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ESTADO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPCION)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#activos").addClass("active");
    </script>
}
